
{% extends 'chatapp/base.html' %}
{% block body %}
<div class="m-10 font-bold">
    {{ chatroom.name }}
</div>



<div id='chat_messages'>

    
        {% for message in chat_messages %}

        <div class="shadow-lg p-3 m-3 rounded-lg w-1/2 bg-blue-300">

            <div class="text-sm username text-gray-500 ">
                {{ message.user }}
            </div>
                {{ message.message_content }}
            <div class="text-sm date text-gray-500">
                {{message.date }}
            </div>

        </div>
        {% endfor %}
</div>
{# fixed - will prevent it from changing its postion. insert-x-0 fixing the x axis position. bottom-0 : will fix the y axis#}
<div class="form-container fixed inset-x-0 bottom-0 bg-blue-900 mx-3 ml-3 mr-3 p-3">
    <form action="" method="post">
        {% csrf_token %}
        <input class="rounded-md px-2" id = "message-input" type="text" name="message" placeholder="Enter message">
        <input class="text-white ml-5 bg-blue-300 rounded-lg p-3" id = "send-button" type="submit" value="Send">
    
    </form> 
</div>

{{chatroom.slug|json_script:"json-chatroomname"}} 
{{ request.user.username|json_script:"json-username" }} {#  sends the currently logged in username #}
<script>

    const chatRoomName = JSON.parse(document.getElementById('json-chatroomname').textContent)
    const chatsocket = new WebSocket(
        'ws://'  // protocol
        + window.location.host // dynamically getting the host url.eh 127.0.0.1:8000
        + '/ws/' // forming the url given in routing.py file
        + chatRoomName
        +'/'
    )
    chatsocket.onmessage = function(e){

        const data = JSON.parse(e.data)

        if(data.message){
            console.log('Recieved message from the client', data.message)
            var currentDate = new Date()
            let html = data.username + " : " + data.message + ' : ' + ' [ ' + currentDate.toDateString() + ' ] '
            document.getElementById('chat_messages').innerHTML += html
        }

        else{
            alert('Empty message')
        }
    }
    chatsocket.onclose = function(e){
        console.log('websocket closed')
    }
    var message = ""
    document.getElementById('send-button').onclick  = function(e){ // this function prevents the send button to send an http request to the servrer, while we want it to use the websocket connection
        e.preventDefault()
        const messageInput = document.getElementById('message-input')
        message = messageInput.value
        chatsocket.send(JSON.stringify({
        "message" : message,
        "username" : JSON.parse(document.getElementById('json-username').textContent),
        "room" : chatRoomName
    }))
        messageInput.value = ""

    }


</script>

{% endblock %}